<!-- <header>
  <a routerLink="/login">
    <img src="assets/logo.png" alt="Logo" class="mb-3">
  </a>
</header> -->

<nav class="navbar navbar-light bg-light fixed-top">

    <form class="form-inline" style="width: 100%;">
      <a class="navbar-brand" routerLink="/"><i class="fas fa-arrow-left"></i></a>
      <h5 class="text-center" style="margin-left: 45%">Forgot your password</h5>
    </form>
  </nav>

<main id="wall">

  <div class="container text-center" id="success" *ngIf="success">
    <i class="far fa-envelope-open fa-3x"></i>
    <p *ngIf="!code" > Awesome, we have sent you an email with a link to reset your password</p>
    <p *ngIf="code" > Your password has been changed successfully.</p>
    <a routerLink="/login">Back to Login</a>
  </div>

  <div *ngIf="!code&&!success">
    <h2></h2>
    <form #resetForm="ngForm" (ngSubmit)="sendEmail()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" name="email" class="input" [ngClass]="{'is-invalid': emailBlur && !validEmail(credentials.email)}"
          [(ngModel)]="credentials.email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="For example user@mail.com"
          required (blur)="emailBlur=true">
        <div class="invalid-feedback" *ngIf="emailBlur && !validEmail(credentials.email)">
          Please provide a valid email.
        </div>
      </div>
      <button type="submit" [disabled]="!resetForm.valid || !validEmail(credentials.email)" class="btn btn-primary">Send</button>
      <!-- *ngIf="!sent" -->
      <a routerLink="/login" class="form-text text-muted">Back to Login</a>
    </form>
  </div>

  <div *ngIf="code&&!success">
    <h2></h2>
    <form #forgotForm="ngForm" (ngSubmit)="change()">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="input" id="password" name="password" [(ngModel)]="credentials.password" placeholder="Password"
          required>
      </div>
      <div class="form-group">
        <label for="password2"> Confirm Password</label>
        <input type="password" class="input" id="password2" name="password2" [(ngModel)]="credentials.password2" placeholder="Password"
          required>
      </div>
      <button type="submit" [disabled]="!forgotForm.valid" class="btn btn-primary">Change</button>
      <!-- *ngIf="!sentPass" -->
      <a routerLink="/login" class="form-text text-muted">Back to Login</a>
    </form>
  </div>

</main>
