<div class="alert alert-danger fixed-top" role="alert" style="z-index: 1031;" *ngIf="showMessage">
  {{showMessage}}
</div>
<dashboard-navbar></dashboard-navbar>

<div id="wrapper">

  <dashboard-sidebar></dashboard-sidebar>

  <div id="content-wrapper">

    <div class="container-fluid">
      <h2>Transactions</h2>
      <hr>
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Transactions</li>
      </ol>

      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-shopping-cart"></i>
              </div>
              <div class="mr-5">Purchases AED <br> {{purchases}}</div>
            </div>
            <!-- <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a> -->
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-money-check-alt"></i>
                <!-- <i class="fas fa-fw fa-life-ring"></i> -->
              </div>
              <div class="mr-5">Balance <br> {{balance}}</div>
            </div>
            <a class="card-footer text-white clearfix small z-1 click" data-toggle="modal" data-target="#balanceModal">
              <span class="float-left">Add more credit</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>

      <!--   Area Chart Example-->
      <!--  <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-area"></i>
          Area Chart Example</div>
        <div class="card-body">
          <canvas id="myChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div> -->

      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Transactions
          <div class="float-right"> 
           <!--  <button type="button" class="btn btn-primary"  > -->
                <i class="fas fa-plus-circle" title="Add transaction"  *ngIf="isManager" data-toggle="modal" data-target="#addTransactionModal"></i>
            <!-- </button> -->
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table " id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>FOR</th>
                  <th>DATE</th>
                  <th>AMOUNT</th>
                  <th>STATUS</th>
                  <th *ngIf="isManager">ACTIONS</th>
                </tr>
              </thead>
              <!-- <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start date</th>
                  <th>Salary</th>
                </tr>
              </tfoot> -->
              <tbody *ngFor="let item of all; index as i; first as isFirst">
                <tr>
                  <td>{{item.plan}}</td>
                  <td>{{item.date.substr(0,item.date.indexOf("T"))}}</td>
                  <td>{{item.coin}} {{item.price}}</td>
                  <td>{{item.status}}</td>
                  <td *ngIf="isManager">
                    <button type="button" class="btn btn-primary" title="Remove" (click)="toRemove(item)">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated</div>
      </div>



    </div>
    <!-- /.container-fluid -->




  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<footer id="footer" style="width: auto !important">
  <div class="container">
    <div class="copyright">
      &copy; 2018 <strong>Searchfuse Marketing Management</strong>.
    </div>
    <div class="credits">
      Built with <i class="fas fa-heart"></i> in Dubai.
    </div>
  </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="balanceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Get more balance</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="">Amount:</label>
        <input type="number" class="form-control" aria-label="Search" [value]="amountToPut" (input)="amountToPut = $event.target.value"
          aria-describedby="basic-addon2">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="creditCard()" [disabled]="invalidAmunt()">Buy</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="">Transaction:</label>
        <textarea class="form-control" [(ngModel)]="itemToCreate" rows="10"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createTransaction()" [disabled]="!validJson()">Create</button>
      </div>
    </div>
  </div>
</div>